nav {
  height: em(50);
  border-bottom: 1px solid $grey;
  text-transform: uppercase;

  span {
    font-size: em(24);
    line-height: 50px;
    padding-left: em(20);
    text-align: left;
  }

  ul {
    text-align: right;
    padding-right: em(10);

    li {
      display: inline-block;

      a {
        display: block;
        font-size: em(18);
        padding: em(13);
        text-decoration: none;

        &.active {
          background: $black;
          color: $white;
        }
      }
    }
  }
}

header {
  padding: em(20);
  text-align: center;
}
