main {

  #overlay,
  #loading {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba($black, 0.8);
  }

  #overlay {

    .card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  #loading {
    background: $white;

    .wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .text {
      color: $red;
      display: inline-block;
      margin-left: 5px;
    }

    .bounceball {
      position: relative;
      display: inline-block;
      height: 37px;
      width: em(15);
      &:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        width: em(15);
        height: em(15);
        border-radius: 50%;
        background-color: $red;
        transform-origin: 50%;
        animation: bounce 500ms alternate infinite ease;
      }
    }

    @keyframes bounce {
      0% {
        top: em(30);
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
      }
      35% {
        height: em(15);
        border-radius: 50%;
        transform: scaleX(1);
      }
      100% {
        top: 0;
      }
    }
  }

  #cards-container,
  #overlay {
    text-align: center;

    .card {
      @extend %box-shadow;

      display: inline-block;
      max-width: em(300);
      border-radius: em(10);
      border: 1px solid $grey;
      margin: em(10);
      background: $white;
      cursor: pointer;

      &.playing {
        border: none;
        background: transparent;

        img {
          padding:0;
          margin: 0;
        }

        .meta-data {
          background: $white;
          padding: em(15);

        }
      }

      & > img {
        padding: em(10) em(10) 0 em(10)
      }

      .poke-name {
        text-align: center;
        padding: 0 em(10) em(20);

        img {
          margin: em(-20) 0;
        }

        h2 {
          @include stroke(3, $blue);
          font-family: $stack-lucky;
          color: $yellow;
          text-transform: uppercase;
          font-size: em(32);
          letter-spacing: em(3);
        }
      }

      .meta-data{
        display: block;
        margin-top: em(10);
        border-top: 1px solid darken($grey, 20%);
        transition: all 500ms ease-out 1s;

        &.hidden {
          display: none;
        }

        .poke-skills {
          @extend %skill-abilities;
          border-bottom: 1px solid darken($grey, 20%);

          h3 {
            margin-top: 0;
          }

          ul {
            padding-bottom: em(10);

            li {
              font-family: $stack-lucky;

              span {
                font-family: $stack-roboto;
              }
            }
          }
        }

        .poke-abilities {
          @extend %skill-abilities;
        }
      }

      a[class^="arrow-"] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: em(28);
        padding: em(10);
        background: $white;
      }

      .arrow-left {
        left: -30%;
      }

      .arrow-right {
        right: -30%;
      }
    }
  }

  #btn-container {
    text-align: center;
  }
}
