* {
	@extend %no-margin-padding;
	box-sizing: border-box;
}

body {
  @extend %no-margin-padding;
	background: $light-grey;
}

main,
header,
.container {
	max-width: 1170px;
	margin: 0 em(10);

	@include brkpnt(desktop) {
		margin: 0 auto;
	}
}

.col-50-l {
  @include responsive-block(left, 50%);
}

.col-50-r {
  @include responsive-block(right, 50%);
}

.col-33-l {
  @include responsive-block(left, 33.333%);
}

.col-33-r {
  @include responsive-block(right, 33.333%);
}

.col-66-l {
  @include responsive-block(left, 66.666%);
}

.col-66-r {
  @include responsive-block(right, 66.666%);
}

.col-25-l {
  @include responsive-block(left, 25%);
}

.col-25-r {
  @include responsive-block(right, 25%);
}

.col-75-l {
  @include responsive-block(left, 75%);
}

.col-75-r {
  @include responsive-block(right, 75%);
}

.clearfix:after {
  content:" ";
  display:table;
  clear:both;
}

button {
	@extend %box-shadow;

	display: inline-block;
	padding: em(10) em(15);
	margin: em(20) em(10);
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: $white;
	border: none;

	&.btn {

		&-red{
			background-color: $red;

			&:hover{
				background-color: darken($red, 10%);
			}
		}

		&-blue{
			background-color: $blue;

			&:hover{
				background-color: darken($blue, 10%);
			}
		}

		&-yellow{
			background-color: $yellow;
			color: $black;

			&:hover{
				background-color: darken($yellow, 10%);
			}
		}
	}
}
