/*
  Colors
*/
$white: #fff;
$black: #000;
$grey: #ccc;

$blue: #3265b0;
$red: #ee1c25;
$yellow: #ffcc06;

/*
  Font Stacks
*/

$stack-sans-serif: Helvetica, Arial, sans-serif;
$stack-roboto: 'Roboto', $stack-sans-serif;
$stack-lucky: 'Luckiest Guy', $stack-roboto;


/*
  Breakpoints
*/

$brk-point-small:  'screen and (min-width: '+ em(320) + ')';
$brk-point-medium:  'screen and (min-width: '+ em(768) + ')';
$brk-point-large:  'screen and (min-width: '+ em(1024) + ')';
